html{
    --primary-1: #2d3143;
    --primary-2: #ffafcc;
    --primary-3:#cdb4db;
    --primary-4: #ddbea9;
    --secondary: #ff6764;




    --secondary-light: #fff0f0;
    --seconday-1: #3f37c9;
    
    --seconday-2:
    --seconday-3:
    --seconday-4:


}                       