---
layout: layouts/base.njk
title: Desarrollo
eleventyNavigation:
  key: desarrollo
  title: Desarrollo de Software
  order: 2
---

<div class="col-12">
  <h1>Desarrollo</h1>
  <p>
    Algunos proyectos de desarrollo
  </p>
</div>